
	<div class="image-slider__wrapper swiper" style="background: linear-gradient(to top, {{ section.settings.color }} 70%, #0000ff00 50%);">
	<div class="image-slider__wrapper--block swiper-wrapper">
		{% for block in section.blocks %}
          <div class="image-slider__inner--block swiper-slide">
              <img class= "image-slider__inner--block__img" src={{ block.settings.image | img_url : "master" }}>
          <span class="image-slider_inner--block__heading">{{ block.settings.heading }} </span>
            <span class="image-slider_inner--block__content">{{ block.settings.content }}</span>
            <a href='{{ block.settings.url }}'class="image-slider_inner--block__button">{{ block.settings.url_text }}</a>
          </div>
        {% endfor %}   
    </div>
	</div>

<style>
  .image-slider__wrapper{
       margin-top: 45px;
  }
.image-slider__wrapper--block{
  display:flex;
   max-width:1440px;
  margin: 0 auto;
}
  .image-slider__inner--block__img{
    max-width:300px
  }
  span.image-slider_inner--block__heading,.image-slider_inner--block__content {
    display: block;
    color: white;
    max-width:300px;
}
  span.image-slider_inner--block__heading {
    font-weight: 1000;
    margin-top:10px;

}
  span.image-slider_inner--block__content p {
    font-size: 14px;
    margin-top:1rem;
}
 .image-slider__inner--block{
    padding-bottom: 50px;
  }
  a.image-slider_inner--block__button {
    color: white;
    display: block;
    background: #F05A45;
    display: inline-block;
    padding: 6px 55px;
    border-radius: 22px;
    font-size: 14px;
}
  @media screen and (max-width:768px){
    .image-slider__wrapper {
    margin-top: 0px;
}
  }
  </style>
{% schema %}
  {
    "name": "image-slider",
    "settings": [
     {
        "type": "color",
        "id": "color",
        "label": "Background Color"
      }
    ],
    "blocks": [
			{
				"type": "block",
				"name": "block",
                "limit":5,
				"settings": [
				   {
                      "type": "image_picker",
                      "id": "image",
                      "label": "Image"
                   }, 
				   {
                      "type": "text",
                      "id": "heading",
                      "label": "Heading"
                   },
                  {
                      "type": "richtext",
                      "id": "content",
                      "label": "Content"
                   }, 
				   {
					  "type": "url",
					  "id": "url",
					  "label": "URL"
				   },
                   {
					  "type": "text",
					  "id": "url_text",
					  "label": "Url Text"
				   }
				]
			}
    ],    
     "presets": [
      {
        "name": "Image Slider",
        "category": "Sections"
      }
    ]
  }
{% endschema %}
