
 {{ 'applications.css' | asset_url | stylesheet_tag }}
<div class="template-page max-w-screen-xl my-6 px-4 md:my-10 md:px-6 xl:mx-auto">
<div class="pt-24 md:pt-80">
  <div class="container mt-10 md:w-1/2">
    <img loading="lazy" src="{{ 'bss-1.png' | asset_url }}"/>
  </div>
  <div class="container md:mt-20">
    <p class="paragraph-xxxl">
      Better conversations begin with better data.
    </p>
    </div>
  </div>
  <div class="flex-wrap md:flex container bss-blue mt-20">
    <img
        loading="lazy"
        src="{{ 'bss-2.png' | asset_url }}"
        class="survey-img object-cover w-full md:w-1/2"
        alt=""
    />
    <div class="flex flex-col items-center md:w-1/2 p-20">
        <p class="paragraph-xl">
          Our public agencies don’t gather robust data on trends in sex, dating & relationships currently, so NORMAL surveys a representative sample of over 1,000 Australians each year to fill the ‘sex data gap’.
        </p>
        <p class="paragraph-xl mt-8">
          In a year when so much has changed, from the movement to improve consent education to the ending of a global pandemic, this survey takes a deeper look at how these trends are shaping our lives.
        </p>
    </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xl">
    This report presents some of the most interesting findings on 10 themes that stood out to us this year: from education to erotica, and libido to LGBTQ+ experiences. 
  </p>
  <p class="paragraph-xl mt-10">
    But this truly is just the tip of the iceberg! If you’d like to enquire about any of the topics covered in the survey, or make bespoke requests for media or policy purposes, feel free to get in touch using the details at the end of the survey. 
  </p>
  
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 1 ---------------------------
-----------------------------------------------------------------
{% endcomment %}

  <div class="bss-mint py-40 px-6 rounded-border mt-20">
    <h2 class="text-center paragraph-xxl">
      01: Pleasure by the numbers
    </h2>
    <p class="text-center paragraph-xxxxl md:px-72">
      The orgasm gap is finally starting to close
    </p>
  </div>
  <div class="container mt-24">
    <p class="paragraph-xl">
      3 in 5 Australians (61%) ‘always’ or ‘almost always’ orgasm during partnered sex, while 1 in 5 of us say we ‘rarely’ or ‘never’ orgasm - but pleasure is not equally distributed, especially when it comes to a phenomenon known as the ‘gender orgasm gap’. 
    </p>
    
    
  </div>

  <div class="container mt-20">
    <div class="md:flex items-center">
        <div class="py-4 md:px-10 md:w-1/2">
            <div class="red-box">
                <p class="paragraph-l text-center text-cream">
                  However, for the first time, we’ve seen a sharp fall in the size of the gender orgasm gap - with the gap betweem female-identifying* & male-identifying* respondents closing by a quarter in a year.
                </p>
            </div>
        </div>
        <div class="py-4 px-10 md:w-1/2 mt-10 md:mt-0">
          <img
            loading="lazy"
            src="{{ 'bss-4.png' | asset_url }}"
            alt=""
        />
        </div>
    </div>
  </div>
  <div class="container mt-24">
    <p class="paragraph-xl">
      Of course, gender is only one form of orgasm gap: there are many other factors, identities and experiences that are correlated with our experiences in partnered sex.
    </p>
  </div>
  <div class="container mt-24 md:block hidden px-10">
    <img
      loading="lazy"
      src="{{ 'bss-5.png' | asset_url }}"
      alt=""
  />
  </div>
  <div class="container mt-24 md:hidden px-10">
    <img
      loading="lazy"
      src="{{ 'bss-41.png' | asset_url }}"
      alt=""
  />
  </div>
  <div class="flex-wrap md:flex container bss-blue mt-20">
    <div class="flex items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        Just 38% of respondents rated themselves as confident in sharing their desires & preferences with partners - and this communication gap contributes to the orgasm gap. 
      </p>
  </div>
    <img
        loading="lazy"
        src="{{ 'bss-6.png' | asset_url }}"
        class="survey-img object-cover w-full md:w-1/2"
        alt=""
    />
    
</div>

<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10 md:w-1/2">
          <div class="red-box">
              <p class="paragraph-l text-center text-cream">
                Females, non-binary people, people raised in conservative environments, neurodivergent people & people living with a mental illness are less confident than average sharing their desires.
              </p>
          </div>
      </div>
      <div class="py-4 md:px-10 md:w-1/2">
        <div class="blue-box">
            <p class="paragraph-l text-center text-cream">
              Males, people raised in progressive environments, and people living with a physical disability are more confident than average sharing their desires.
            </p>
        </div>
    </div>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xl">
    Last year’s survey also found that a large ‘masturbation gap’ connected to the gender orgasm gap, with males masturbating more than 2X as much as females. This year, we investigated the connection between masturbation & pleasure with partners more.
  </p>
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-7.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-52.png' | asset_url }}"
    alt=""
/>
</div>



<div class="container mt-24">
  <p class="paragraph-xxl">
    However, orgasms aren’t everything: rates of overall satisfaction with our sex lives are nearly 6X lower than the rate of people who frequently orgasm. 
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10 w-2/3 m-auto md:w-1/2">
        <img
          loading="lazy"
          src="{{ 'bss-8.png' | asset_url }}"
          alt=""
      />
      </div>
      <p class="paragraph-9xl px-24 text-center">
        vs.
      </p>
      <div class="py-4 md:px-10 w-2/3 m-auto md:w-1/2">
        <img
          loading="lazy"
          src="{{ 'bss-9.png' | asset_url }}"
          alt=""
      />
    </div>
  </div>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10 md:w-5/12">
          <div class="blue-box">
              <p class="paragraph-l text-center text-cream">
                Being ‘orgasm-centric’ can sometimes exacerbate sexual dysfunction & concerns - as well as creating pressure to engage in practices like orgasm faking.
              </p>
          </div>
      </div>
      <div class="py-4 md:px-10 md:w-7/12">
        <div class="red-box">
            <p class="paragraph-l text-center text-cream">
              Orgasm faking can be a short-term solution to issues which require communication, experimentation & potentially professional support.  <br><br>42% of respondents said they had faked orgasms, with the top reasons being ‘wanting to provide positive reinforcement’, ‘wanting sex to end’ and ‘avoiding talk about it because my partner wasn’t able to get me there’.
            </p>
        </div>
    </div>
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 2 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    02: The ins and outs of anatomy 
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    It’s the year of the clit, but who is being left behind?
  </p>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <img
      loading="lazy"
      src="{{ 'bss-10.png' | asset_url }}"
      class="survey-img object-cover w-full md:w-1/2"
      alt=""
  />
  <div class="flex items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        Clitoral stimulation is the most likely to produce orgasms for people with vulvas - and it turns out Australians are most comfortable identifying & bringing pleasure to the clitoris!
<br><br>This is a huge milestone given the full structure of the clitoris was only mapped with an MRI in 2005 (by Australian urologist Professor Helen O’Connell). 
      </p>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Which body parts are you confident identifying and bringing pleasure to? 
  </p>
</div>

<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-43.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-42.png' | asset_url }}"
    alt=""
/>
</div>

<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10 md:w-1/2">
          <div class="blue-box">
              <p class="paragraph-l text-center text-cream">
                On average, we have a higher level of understanding of anatomy for people with vulvas than for people with penises. The only group who were an exception to this were LGBTQ+ people with penises.
              </p>
          </div>
      </div>
      <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
            <p class="paragraph-l text-center text-cream">
              This raises the question: has the sexual wellness movement left people with penises behind? 
            </p>
        </div>
    </div>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Anxieties about genitals are also common, with 1 in 5 people expressing concerns in this area 
  </p>
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-44.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-53.png' | asset_url }}"
    alt=""
/>
</div>

<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Australians also have wildly different (and heteronormative) definitions of what ‘sex’ is
  </p>
</div>
<div class="container mt-24 ">
  <img
    loading="lazy"
    src="{{ 'bss-12.png' | asset_url }}"
    alt=""
/>
</div>
<div class="bss-orange container flex flex-col md:flex-row justify-center items-center rounded-border p-12 md:p-24 mt-20 flex-wrap ">
  <div class="w-3/5 md:w-1/3 md:pr-16">
    <img
      loading="lazy"
      src="{{ 'bss-13.png' | asset_url }}"
      alt=""
  />

  </div>
  <div class="md:w-2/3">
    <p class="paragraph-xxxl text-center md:text-left mt-10">Friends with benefits?</p>
    <p class="paragraph-xl text-center md:text-left">Sign up for emails to receive sex-positive education, research and of course: a few cheeky discounts!</p>
    {% assign full_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}
    {% form 'customer', action:'/contact' %}
      {% if form.posted_successfully? or full_url contains "form_type=customer" %}
        <div class="bg-cream rounded-3xl mt-10">
            <p class="text-dark-purple text-opacity-60 text-center py-5 px-24 md:px-6">Thank you for signing up!</p>
        </div>
    {% else %}
      <div class="flex h-24 mt-20">
          <input name="contact[tags]" type="hidden" value="bss">
          <input class="bg-white full-left-rounded text-dark-purple text-subline text-opacity-60 w-3/5 px-7" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your email" name="contact[email]" id="NewsletterEmail" aria-label="Your email" autocorrect="off" autocapitalize="off">
          <button class="btn--newsletter__submit bss-dark-pink full-rounded w-2/5 text-white text-subline" type="submit">
              sign up!
          </button>
      </div>
      <div aria-role="alert">
          {{ form.errors | default_errors }}
      </div>
    {% endif %}   
  {% endform %}
    
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 3 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    03: Our biggest sexual concerns
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    Low libido is the new normal post-Covid
  </p>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <div class="flex items-center md:w-1/2 p-20">
    <p class="paragraph-xl">
      During Covid, there was a bifurcation in the impact of lockdowns and uncertainty on sexuality: some people ‘thrived’, while others struggled with low libido and just ‘survived’. 
      <br><br>A year on, low libido appears to be a lingering impact of the pandemic, replacing ‘body image making it hard to enjoy sex’ as the biggest sexual issue for Australians. 
    </p>
</div>
  <img
      loading="lazy"
      src="{{ 'bss-14.png' | asset_url }}"
      class="survey-img object-cover w-full md:w-1/2"
      alt=""
  />
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Low libido is a consistent top issue across the board, with body image & mental health-related concerns also common
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center md:py-5">
      <div class="py-4 md:px-10 md:w-1/2">
          <div class="red-box">
            <p class="paragraph-xl text-cream mb-8">
              female-identifying
            </p>
              <p class="paragraph-l text-cream">
                #1 Low libido <br>#2 Body image making it hard to enjoy sex <br>#3 Not feeling confident during sex 
              </p>
          </div>
      </div>
      <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
            <p class="paragraph-xl text-cream mb-8">
              male-identifying
            </p>
              <p class="paragraph-l text-cream">
                #1 Low libido<br>#2 Wanting to give partner more pleasure<br>#3 Not understanding how my body / partner’s body works  
              </p>
        </div>
    </div>
  </div>
  <div class="md:flex items-center md:py-5">
    <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            living with a chronic illness
          </p>
            <p class="paragraph-l text-cream">
              #1 Low libido <br>#2 Body image making it hard to enjoy sex<br>#3 Low self-esteem 
            </p>
        </div>
    </div>
    <div class="py-4 md:px-10 md:w-1/2">
      <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            living with a mental illness
          </p>
            <p class="paragraph-l text-cream">
              #1 Low self-esteem in everyday life affecting sex life <br>#2 Body image making it hard to enjoy sex<br>#3 Not feeling confident during sex   
            </p>
        </div>
    </div>
  </div>
  <div class="md:flex items-center md:py-5">
    <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            boomer
          </p>
            <p class="paragraph-l text-cream">
              #1 Low libido <br>#2 Not being able to hold erections<br>#3 Wanting to give partners more pleasure

            </p>
        </div>
    </div>
    <div class="py-4 md:px-10 md:w-1/2">
      <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            millennial
          </p>
            <p class="paragraph-l text-cream">
              #1 Low libido <br>#2 Not feeling confident during sex<br>#3 Body image making it hard to enjoy sex

            </p>
        </div>
    </div>
  </div>
  <div class="md:flex items-center md:py-5">
    <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            lesbian
          </p>
            <p class="paragraph-l text-cream">
              #1 Low libido <br>#2 Not feeling confident during sex <br>#3 Low self-esteem in everyday life affecting sex life 
            </p>
        </div>
    </div>
    <div class="py-4 md:px-10 md:w-1/2">
      <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            gay male
          </p>
            <p class="paragraph-l text-cream">
              #1 Not feeling confident during sex<br>#2 Low self-esteem in everyday life affecting sex life <br>#3 Low libido 
            </p>
        </div>
    </div>
  </div>
  <div class="md:flex items-center md:py-5">
    <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            prefer to self-describe sexuality
          </p>
            <p class="paragraph-l text-cream">
              #1 Body image making it hard to enjoy sex <br>#2 Not understanding how my body or my partner’s body work <br>#3 Low libido 

            </p>
        </div>
    </div>
    <div class="py-4 md:px-10 md:w-1/2">
      <div class="red-box">
          <p class="paragraph-xl text-cream mb-8">
            bisexual 
          </p>
            <p class="paragraph-l text-cream">
              #1 Low self-esteem in everyday life affecting sex life <br>#2 Not feeling confident during sex<br>#3 Low libido 

            </p>
        </div>
    </div>
  </div>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <img
    loading="lazy"
    src="{{ 'bss-15.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
  <div class="flex items-center md:w-1/2 p-20">
    <p class="paragraph-xl">
      The science of desire tells us that it is driven by the interaction of the sympathetic (fight or flight) and parasympathetic (calming) system. <br><br>Lack of knowledge around desire has real side effects: with one-quarter of  people who report issues with low libido, or around 1.3 million people, having bought over-the-counter supplements (for which there is not an evidence base). 
    </p>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Practising members of religions face issues with shame & lack of information about sex
  </p>
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-45.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-54.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Parents are more likely to struggle with sex becoming repetitive
  </p>
</div>
<div class="container mt-24 md:w-5/12">
  <img
    loading="lazy"
    src="{{ 'bss-16.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Body image is becoming a bigger issue for each generation
  </p>
</div>
<div class="container mt-24 md:w-5/12">
  <img
    loading="lazy"
    src="{{ 'bss-17.png' | asset_url }}"
    alt=""
/>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 4 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    04: Sex education inside and outside the classroom
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    Formal sex ed is still falling short, but we’re taking matters into our own hands online
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Consent remains an urgent public health crisis
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
    <div class="py-4 px-10 w-3/4 m-auto md:w-5/12">
      <img
        loading="lazy"
        src="{{ 'bss-18.png' | asset_url }}"
        alt=""
    />
    </div>
      <div class="py-4 md:px-10 md:w-7/12">
        <p class="paragraph-xxl ">
          Younger, female & LGBTQ+ people are most likely to have been affected: 
        </p>
          <ul class="list-disc ml-16">
            <li class="paragraph-xl ">LGBTQ+ people are 2-4X more likely to have experienced a non-consensual interaction</li>
            <li class="paragraph-xl ">Two-thirds of females reported experiencing at least one interaction vs. one-third of males</li>
            <li class="paragraph-xl ">71% of Gen Z reported non-consensual interactions, compared to 55% of Millennials and 27% of Boomers</li>
          </ul>
      </div>
      
  </div>
</div>
<div class="container mt-12">
  <p class="paragraph-l">
    *including unwanted physical touching, comments, advances, pressure from a spouse, non-consensual sex, stealthing, and digital photo and video sharing. 
  </p>
</div>
<div class="flex-wrap md:flex container bss-red mt-20">
  <img
    loading="lazy"
    src="{{ 'bss-19.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
  <div class="flex flex-col items-center md:w-1/2 p-20">
    <p class="paragraph-xl text-cream">
      The movement to improve consent education has made powerful progress in raising awareness & creating policy change, but these changes have not yet flowed through to what recent graduates (Gen Z) are reporting they’ve learned in school. For example, just:
    </p>
    <ul class="list-disc ml-16 mt-8">
      <li class="paragraph-xl text-cream">18% learned how to have respectful relationships 16% learned how to discuss consent with a partner</li>
      <li class="paragraph-xl text-cream">13% learned legal responsibilities around consent</li>
      <li class="paragraph-xl text-cream">11% learned how to be safe online </li>
      <li class="paragraph-xl text-cream">8% learned legal responsibilities around online interactions </li>
      <li class="paragraph-xl text-cream">7% learned the difference between porn & IRL sex</li>
    </ul>    
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Most Australian adults received an extremely limited sex education
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xl text-center">
    The only topic a majority learn about is pregnancy, and most people did not learn consent, online safety, sexual dysfunctions, conditions like endometriosis, masturbation, porn, online safety and safe LGBTQ+ sex  
  </p>
</div>
<div class="container mt-24">
  <img
    loading="lazy"
    src="{{ 'bss-20.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    There is a gender gap in topics being taught: with male students receiving more information on pleasure, and greater responsibility for health and contraception falling on female students 
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10 md:w-1/2">
          <div class="alternate-blue-box">
            <p class="paragraph-xl">
              males were more likely to learn:
            </p>
              <p class="paragraph-l text-cream mt-8">
                What a sexual dysfunction is<br>What arousal is <br>How to have pleasurable sex <br>What an orgasm is and how to experience it<br>How to masturbate 
              </p>
          </div>
      </div>
      <div class="py-4 md:px-10 md:w-1/2">
        <div class="red-box">
          <p class="paragraph-xl">
            females were more likely to learn:
          </p>
            <p class="paragraph-l text-cream mt-8">
              How pregnancy occurs & how to avoid it <br>What STIs are & how they occur <br>Conditions like endometriosis & PCOS <br>How to use contraception <br>How to be safe online
            </p>
        </div>
    </div>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    However, Australians of all generations are self-educating about sex and relationships - especially using digital sources 
  </p>
</div>
<div class="container mt-24">
  <img
    loading="lazy"
    src="{{ 'bss-21.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-22.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          more likely to use ‘Dr Google’ than a doctor  
        </p>
      </div>
    </div>
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-23.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          Australians have now used a sex education platform
        </p>
      </div>
    </div>
  </div>
  

  <div class="md:flex items-center">
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-24.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          more likely to use porn than a doctor  
        </p>
      </div>
    </div>
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-25.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          more likely to use ‘Dr Google’ than a sex therapist or qualified practitioner
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    In the absence of relevant formal sex education, LGBTQ+ Australians are the heaviest users of digital self-education
  </p>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <img
      loading="lazy"
      src="{{ 'bss-26.png' | asset_url }}"
      class="survey-img object-cover w-full md:w-1/2"
      alt=""
  />
  <div class="flex flex-col items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        However, these sources differ for different groups of LGBTQ+ people:
      </p>
      <ul class="list-disc ml-16 mt-8">
        <li class="paragraph-xl ">Gay males use porn as their top source of sex education, and are 3X more likely to use porn for self-education</li>
        <li class="paragraph-xl ">Sex education platforms are 2.5X more likely to be used by lesbians, bisexuals and people who prefer to self-identify using alternative terms </li>
      </ul>
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 5 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    05: Sexuality across the generations
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    Gen Z are actually doing things differently
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Gen Z are not simply repeating the patterns of millennials - they’re approaching sex, eroticism & education differently
  </p>
</div>
<div class="container mt-24">
  <img
    loading="lazy"
    src="{{ 'bss-27.png' | asset_url }}"
    alt=""
/>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">

  <div class="flex flex-col items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        Top issues are confidence, self-esteem & stress around sex
      </p>
      <p class="paragraph-l mt-8">
      31% low self-esteem affecting sex
      <br>29% not feeling confident during sex 
      <br>28% body image making it hard to enjoy sex
      <br>24% not feeling interested in sex
      <br>20% feeling distracted, stressed or anxious during sex
      </p>
  </div>
  <img
    loading="lazy"
    src="{{ 'bss-28.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Gen Z are becoming the most sex-positive generation when it comes to sexual wellness products. In the last 12 months alone:
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-29.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          became more open to purchasing sex toys 
        </p>
      </div>
    </div>
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-30.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          are using sex toys more solo
        </p>
      </div>
    </div>
  </div>
  

  <div class="md:flex items-center">
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-30.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          are using sex toys more with partners
        </p>
      </div>
    </div>
    <div class="py-4 px-10 md:w-1/2 flex items-center">
      <div class="py-4 w-1/3">
        <img
          loading="lazy"
          src="{{ 'bss-31.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-2/3">
        <p class="paragraph-xl pl-16">
          are exploring more adventurous or advanced options 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bss-orange container flex flex-col md:flex-row justify-center items-center rounded-border p-12 md:p-24 mt-20 flex-wrap ">
  <div class=" w-3/5 md:w-1/3 md:pr-16">
    <img
      loading="lazy"
      src="{{ 'bss-13.png' | asset_url }}"
      alt=""
  />

  </div>
  <div class="md:w-2/3">
    <p class="paragraph-xxxl text-center md:text-left mt-10">Knowledge is power.</p>
    <p class="paragraph-xl text-center md:text-left">Sign up for emails to receive sex-positive education, research and of course: a few cheeky discounts!</p>
    {% assign full_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}
    {% form 'customer', action:'/contact' %}
      {% if form.posted_successfully? or full_url contains "form_type=customer" %}
        <div class="bg-cream rounded-3xl mt-10">
            <p class="text-dark-purple text-opacity-60 text-center py-5 px-24 md:px-6">Thank you for signing up!</p>
        </div>
    {% else %}
      <div class="flex h-24 mt-20">
          <input name="contact[tags]" type="hidden" value="bss">
          <input class="bg-white full-left-rounded text-dark-purple text-subline text-opacity-60 w-3/5 px-7" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your email" name="contact[email]" id="NewsletterEmail" aria-label="Your email" autocorrect="off" autocapitalize="off">
          <button class="btn--newsletter__submit bss-dark-pink full-rounded w-2/5 text-white text-subline" type="submit">
              sign up!
          </button>
      </div>
      <div aria-role="alert">
          {{ form.errors | default_errors }}
      </div>
    {% endif %}  
  {% endform %}
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 6 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    06: Investing in sexual wellness 
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    We’re buying more sex toys than ever
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    It’s, well, normal... a majority of us have used a sex toy!
  </p>
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-46.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-55.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Which sexual wellness products are we buying the most of?
  </p>
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-47.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden ">
  <img
    loading="lazy"
    src="{{ 'bss-56.png' | asset_url }}"
    alt=""
/>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 7 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    07: Porn, erotica & everything in between
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    We’re using porn in different & more positive ways 
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Free video porn remains the most commonly used, but ethical porn, erotica and new digital mediums are becoming more popular
  </p>
</div>
<div class="container mt-24">
  <img
    loading="lazy"
    src="{{ 'bss-32.png' | asset_url }}"
    alt=""
/>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <img
    loading="lazy"
    src="{{ 'bss-33.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
  <div class="flex flex-col items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        Digital pornography can be a flawed educational tool, and present a number of issues, for example: 
      </p>
      <ul class="list-disc ml-16 mt-8">
        <li class="paragraph-xl ">Is it showing pleasure, anatomy & bodies in realistic & diverse ways? </li>
        <li class="paragraph-xl ">Is it role modelling consent and contraceptive use? </li>
        <li class="paragraph-xl ">Is it ethically produced & distributed? </li>
      </ul>
      <p class="paragraph-xl mt-8">
        But on the whole, respondents tended to see pornography as a net positive influence on their sexual experiences. 
      </p>
  </div>
  
</div>
<div class="container mt-24 md:block hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-48.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-10">
  <img
    loading="lazy"
    src="{{ 'bss-57.png' | asset_url }}"
    alt=""
/>
</div>

<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10">
          <div class="light-blue-box">
              <p class="paragraph-xl text-center">
                Porn is especially important as a positive tool for LGBTQ+ people
              </p>
              <p class="paragraph-l">
              <br>>2X more likely to say porn ‘gave me confidence and inspiration to explore new things’ and ‘gave me confidence to share my desires’  <br><br> >3X more likely to say porn ‘made me question my sexuality’ & ‘improved my sexual function’ 
              </p>
          </div>
      </div>
  </div>
</div>

<div class="bss-orange container flex flex-col md:flex-row justify-center items-center rounded-border p-12 md:p-24 mt-20 flex-wrap ">
  <div class=" w-3/5 md:w-1/3 md:pr-16">
    <img
      loading="lazy"
      src="{{ 'bss-13.png' | asset_url }}"
      alt=""
  />

  </div>
  <div class="md:w-2/3">
    <p class="paragraph-xxxl text-center md:text-left mt-10">Slide into our DMs.</p>
    <p class="paragraph-xl text-center md:text-left">Sign up for emails to receive sex-positive education, research and of course: a few cheeky discounts!</p>
    {% assign full_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}
    {% form 'customer', action:'/contact' %}
      {% if form.posted_successfully? or full_url contains "form_type=customer" %}
        <div class="bg-cream rounded-3xl mt-10">
            <p class="text-dark-purple text-opacity-60 text-center py-5 px-24 md:px-6">Thank you for signing up!</p>
        </div>
    {% else %}
      <div class="flex h-24 mt-20">
          <input name="contact[tags]" type="hidden" value="bss">
          <input class="bg-white full-left-rounded text-dark-purple text-subline text-opacity-60 w-3/5 px-7" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your email" name="contact[email]" id="NewsletterEmail" aria-label="Your email" autocorrect="off" autocapitalize="off">
          <button class="btn--newsletter__submit bss-dark-pink full-rounded w-2/5 text-white text-subline" type="submit">
              sign up!
          </button>
      </div>
      <div aria-role="alert">
          {{ form.errors | default_errors }}
      </div>
    {% endif %}   
  {% endform %}
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 8 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    08: Fantasies and turn-ons
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    We’re craving novelty in our fantasy lives
  </p>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <img
    loading="lazy"
    src="{{ 'bss-34.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
  <div class="flex items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        After a global pandemic which involved many restrictions on our intimate lives, Australians’ current top 10 fantasies tend towards a number of escapist and variety-seeking themes. 
      </p>
  </div>
</div>
<div class="container mt-24 md:w-1/2">
  <img
    loading="lazy"
    src="{{ 'bss-35.png' | asset_url }}"
    alt=""
/>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 9 ---------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    09: Modern dating
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    Dating apps are increasingly mainstream - but so are disappointment & discrimination 
  </p>
</div>
<div class="container mt-24 md:block hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-49.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-58.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    10% of Australians reported ‘traumatic’ or ‘bad’ experiences using dating apps - with some groups reporting much higher rates
  </p>
</div>
<div class="container mt-24 md:w-1/2">
  <img
    loading="lazy"
    src="{{ 'bss-36.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Harassment and discrimination were also disproportionately experienced by non-Caucasians on dating apps, for example:
  </p>
</div>
<div class="container mt-24 md:w-1/2">
  <img
    loading="lazy"
    src="{{ 'bss-37.png' | asset_url }}"
    alt=""
/>
</div>
<div class="bss-orange container flex flex-col md:flex-row justify-center items-center rounded-border p-12 md:p-24 mt-20 flex-wrap ">
  <div class=" w-3/5 md:w-1/3 md:pr-16">
    <img
      loading="lazy"
      src="{{ 'bss-13.png' | asset_url }}"
      alt=""
  />

  </div>
  <div class="md:w-2/3">
    <p class="paragraph-xxxl text-center md:text-left mt-10">Let’s talk about sex (better).</p>
    <p class="paragraph-xl text-center md:text-left">Sign up for emails to receive sex-positive education, research and of course: a few cheeky discounts!</p>
    {% assign full_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}
    {% form 'customer', action:'/contact' %}
      {% if form.posted_successfully? or full_url contains "form_type=customer" %}
        <div class="bg-cream rounded-3xl mt-10">
            <p class="text-dark-purple text-opacity-60 text-center py-5 px-24 md:px-6">Thank you for signing up!</p>
        </div>
    {% else %}
      <div class="flex h-24 mt-20">
          <input name="contact[tags]" type="hidden" value="bss">
          <input class="bg-white full-left-rounded text-dark-purple text-subline text-opacity-60 w-3/5 px-7" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your email" name="contact[email]" id="NewsletterEmail" aria-label="Your email" autocorrect="off" autocapitalize="off">
          <button class="btn--newsletter__submit bss-dark-pink full-rounded w-2/5 text-white text-subline" type="submit">
              sign up!
          </button>
      </div>
      <div aria-role="alert">
          {{ form.errors | default_errors }}
      </div>
    {% endif %}   
  {% endform %}
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
--------------------------- Section 10 --------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    10: Changing our minds
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    From sex work to non-monogamy, public opinion is becoming less conservative
  </p>
</div>
<div class="flex-wrap md:flex container bss-blue mt-20">
  <div class="flex flex-col items-center md:w-1/2 p-20">
      <p class="paragraph-xl">
        From same-sex marriage, to the #TeachUsConsent movement, the #MeToo movement and the rise of sexual wellness brands normalising open discussions about pleasure, we’ve seen a rise in cultural conversations about sex.
      </p>
      <p class="paragraph-xl mt-8">
        This year, the Big Sex Survey looked at opinion on a number of other issues to understand how views on sex and relationships are shifting more broadly.  
      </p>
  </div>
  <img
    loading="lazy"
    src="{{ 'bss-6.png' | asset_url }}"
    class="survey-img object-cover w-full md:w-1/2"
    alt=""
/>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Our views on sex work are largely positive or neutral, with a minority expressing concerns about morality or duress for sex workers
  </p>
</div>
<div class="container mt-24 md:block hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-50.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-59.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
    <div class="py-4 px-10 flex items-center">
      <div class="py-4 w-1/4 md:w-1/6">
        <img
          loading="lazy"
          src="{{ 'bss-39.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-3/4 md:w-5/6">
        <p class="paragraph-xxl pl-16 text-dark-pink">
          of Australians reported having been a client of the sex work industry 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    We’ve seen greater discussion of ethical non-monogamy in pop culture & social media - and this is reflected in rising interest in alternative relationship structures
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
    <div class="py-4 px-10 flex items-center">
      <div class="py-4 w-1/4 md:w-1/6">
        <img
          loading="lazy"
          src="{{ 'bss-38.png' | asset_url }}"
          alt=""
        />
      </div>
      <div class="py-4 w-3/4 md:w-5/6">
        <p class="paragraph-xxl pl-16 text-dark-blue">
          Australians are curious about or currently practising non-monogamy
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-24 md:block hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-51.png' | asset_url }}"
    alt=""
/>
</div>
<div class="container mt-24 md:hidden px-5">
  <img
    loading="lazy"
    src="{{ 'bss-60.png' | asset_url }}"
    alt=""
/>
</div>

{% comment %} 
-----------------------------------------------------------------
------------------------ Section Bonus --------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <h2 class="text-center paragraph-xxl">
    Bonus: State of orgasm
  </h2>
  <p class="text-center paragraph-xxxxl md:px-72">
    NT residents are orgasming the most - and ACT residents the least
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    People who reported ‘always’ or ‘almost always’ orgasming during sex
  </p>
</div>
<div class="container mt-24 md:w-1/2">
  <img
    loading="lazy"
    src="{{ 'bss-40.png' | asset_url }}"
    alt=""
/>
</div>
<div class="bss-orange container flex flex-col md:flex-row justify-center items-center rounded-border p-12 md:p-24 mt-20 flex-wrap ">
  <div class=" w-3/5 md:w-1/3 md:pr-16">
    <img
      loading="lazy"
      src="{{ 'bss-13.png' | asset_url }}"
      alt=""
  />

  </div>
  <div class="md:w-2/3">
    <p class="paragraph-xxxl text-center md:text-left mt-10">Looking for more normal?</p>
    <p class="paragraph-xl text-center md:text-left">Sign up for emails to receive sex-positive education, research and of course: a few cheeky discounts!</p>
    {% assign full_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}
    {% form 'customer', action:'/contact' %}
      {% if form.posted_successfully? or full_url contains "form_type=customer" %}
        <div class="bg-cream rounded-3xl mt-10">
            <p class="text-dark-purple text-opacity-60 text-center py-5 px-24 md:px-6">Thank you for signing up!</p>
        </div>
    {% else %}
      <div class="flex h-24 mt-20">
          <input name="contact[tags]" type="hidden" value="bss">
          <input class="bg-white full-left-rounded text-dark-purple text-subline text-opacity-60 w-3/5 px-7" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your email" name="contact[email]" id="NewsletterEmail" aria-label="Your email" autocorrect="off" autocapitalize="off">
          <button class="btn--newsletter__submit bss-dark-pink full-rounded w-2/5 text-white text-subline" type="submit">
              sign up!
          </button>
      </div>
      <div aria-role="alert">
          {{ form.errors | default_errors }}
      </div>
    {% endif %}   
  {% endform %}
  </div>
</div>
{% comment %} 
-----------------------------------------------------------------
------------------------ Section End ----------------------------
-----------------------------------------------------------------
{% endcomment %}
<div class="bss-mint py-40 px-6 rounded-border mt-20">
  <p class="text-center paragraph-xxxxl md:px-72">
    Want to work with us to improve
the social conversation about sex?
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    Supporting evidence-based, high-quality dialogues about sex, dating and relationships is critical to our mission. 
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    We are delighted to share the information from The Big Sex Survey for press, policy and collaboration purposes. 
  </p>
</div>
<div class="container mt-24">
  <p class="paragraph-xxl2 text-center">
    For a full question list, bespoke data requests & data set access, feel free to reach out to the NORMAL team via hey@itsnormal.com. 
  </p>
</div>
<div class="container mt-20">
  <div class="md:flex items-center">
      <div class="py-4 md:px-10">
          <div class="light-blue-box">
              
              <p class="paragraph-l">
                *Note: Where the terms 'female' and 'male' are used, this refers to female-identifying and male-identifying respondents in terms of gender. Where sexuality is listed as 'prefer to self-describe', respondents have chosen not to categorise as heterosexual, bisexual or homosexual for the purposes of this survey. This community is vitally important to NORMAL, and due to the small sample size of respondents listing their gender as non-binary and/or sexuality as ‘prefer to self-describe’, NORMAL plans to run a separate survey focussed on these communities which can deliver more robust findings. 
              </p>
          </div>
      </div>
  </div>
</div>

</div>

</div>








<style>

  p, h2, li {
    color: #7F3F58;
  }

  html,
  body,
  #MainContent {
    background-color: #FFF9F4
  }
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .bss-blue {
    background-color:#DFEFFD;
  }

  .bss-mint {
    background-color:#D6EFDB;
  }

  .bss-pink {
    background-color: #F6B5B2;
  }

  .bss-dark-pink {
    background-color: #ED655F;
  }
  .text-dark-pink {
    color: #ED655F;
  }
  .text-dark-blue {
    color: #167787;
  }

  .bss-red {
    background-color: #ED655F;
  }

  .bss-orange {
  background-color: #F7C8AA
}

  .full-rounded {
    border-radius: 70px;
  }
  .full-left-rounded {
    border-radius: 70px;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -20px;
  padding-right: 40px;
  }

  .text-cream {
    color: #FFF5EB;
  }

  .red-box {
    
    background-color: #ED655F;
    padding: 45px;
    border-radius: 10px;
}

.blue-box {

  background-color: #45929F;
  padding: 45px;
  border-radius: 10px;
}

.light-blue-box {

  background-color: #DFEFFD;
  padding: 45px;
  border-radius: 10px;
}

.alternate-blue-box {

  background-color: #7FB1DB;
  padding: 45px;
  border-radius: 10px;
}



.paragraph-9xl {
  font-size: 80px;
  font-weight: 800;
}

.paragraph-xxxxl {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 16px;
}

  .paragraph-xxxl {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .paragraph-xxl2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .paragraph-xxl {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .paragraph-xl {
    font-size: 25px;
    font-weight: 700;
  }

  .paragraph-l {
    font-size: 20px;
    font-weight: 700;
  }

  .paragraph-m {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .paragraph-s {
    font-size: 14px;
  }

  @media(max-width: 768px) {
    .paragraph-9xl {
      font-size: 60px;
    }

    .paragraph-xxxxl {
      font-size:35px;
    }

    

    .paragraph-xxxl {
      font-size: 30px;
    }

    .paragraph-xxl2 {
      font-size: 25px;

    }

    .paragraph-xxl {
      font-size: 20px;
    }
    .paragraph-xl {
      font-size: 18px;
    }
    .paragraph-l {
      font-size: 16px;
    }
    .paragraph-m {
      font-size: 16px;
    }

    .survey-img {
      max-height: 300px;
    }
    .section-banner {
      background-color: #d0fbd8;
      padding: 100px 16px;
    }
  }
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: Modern Era, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */


code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
iframe,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Modern Era;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.03em;
  color: #5B1D3D;
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 90px;
    line-height: 90px;
  }
}

h2,
    .text-h2 {
  font-family: Modern Era;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #5B1D3D;
}

@media only screen and (min-width: 750px) {
  h2,
        .text-h2 {
    font-size: 68px;
    line-height: 68px;
  }
}

h3,
    .text-h3 {
  font-family: Modern Era;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #5B1D3D;
}

@media only screen and (min-width: 750px) {
  h3,
        .text-h3 {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0em;
  }
}

h4,
    .text-h4 {
  font-family: Modern Era;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
}

@media only screen and (min-width: 750px) {
  h4,
        .text-h4 {
    font-size: 32px;
    line-height: 125%;
  }
}

.text-body {
  /* Same as mobile big body */
  font-family: Modern Era;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}

@media only screen and (min-width: 750px) {
  .text-body {
    font-size: 24px;
    line-height: 36px;
  }
}

.text-subline {
  /* Same as mobile body */
  font-family: Modern Era;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

@media only screen and (min-width: 750px) {
  .text-subline {
    font-size: 22px;
    line-height: 33px;
  }
}

.text-label {
  font-family: Modern Era;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
}

@media only screen and (min-width: 750px) {
  .text-label {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  }
}

.text-richtext {
  font-family: Modern Era;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
}

@media only screen and (min-width: 750px) {
  .text-richtext {
    font-size: 18px;
  }
}

.container {
  width: 100%;
}




.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-11 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.75rem * var(--tw-space-y-reverse));
}

.space-x-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-cream {
  background-color: #F9F7F5
}

.bg-cream-200 {
  background-color: #F7F4F1
}

.bg-clay {
  --tw-bg-opacity: 1;
  background-color: rgba(244, 240, 236, var(--tw-bg-opacity));
}

.bg-dark-clay {
  --tw-bg-opacity: 1;
  background-color: rgba(240, 230, 220, var(--tw-bg-opacity));
}

.bg-dark-purple {
  --tw-bg-opacity: 1;
  background-color: rgba(91, 29, 61, var(--tw-bg-opacity));
}

.bg-normal-purple {
  --tw-bg-opacity: 1;
  background-color: rgba(83, 30, 57, var(--tw-bg-opacity));
}

.bg-electric-red {
  --tw-bg-opacity: 1;
  background-color: rgba(244, 76, 74, var(--tw-bg-opacity));
}

.bg-baby-pink {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 225, 225, var(--tw-bg-opacity));
}

.bg-baby-blue {
  --tw-bg-opacity: 1;
  background-color: rgba(208, 244, 255, var(--tw-bg-opacity));
}

.bg-mint {
  --tw-bg-opacity: 1;
  background-color: rgba(208, 251, 216, var(--tw-bg-opacity));
}

.bg-cover {
  background-size: cover;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-clay {
  --tw-border-opacity: 1;
  border-color: rgba(244, 240, 236, var(--tw-border-opacity));
}

.border-dark-purple {
  --tw-border-opacity: 1;
  border-color: rgba(91, 29, 61, var(--tw-border-opacity));
}

.border-opacity-30 {
  --tw-border-opacity: 0.3;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-4xl {
  border-radius: 2rem;
}

.rounded-r-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.rounded-r-3xl {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.rounded-l-3xl {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.border-2 {
  border-width: 2px;
}

.border {
  border-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.order-last {
  order: 9999;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-20 {
  height: 5rem;
}

.h-24 {
  height: 6rem;
}

.h-40 {
  height: 10rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.list-none {
  list-style-type: none;
}

.list-disc {
  list-style-type: disc;
}

.m-5 {
  margin: 1.25rem;
}

.m-auto {
  margin: auto;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.ml-16 {
  margin-left: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.max-h-96 {
  max-height: 24rem;
}

.max-h-216 {
  max-height: 64rem;
}

.max-w-sm {
  max-width: 24rem;
}

.max-w-md {
  max-width: 28rem;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-screen-xl {
  max-width: 1440px;
}

.min-w-32 {
  min-width: 8rem;
}

.min-w-112 {
  min-width: 28rem;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-100 {
  opacity: 1;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-8 {
  padding: 2rem;
}

.p-12 {
  padding: 3rem;
}

.p-16 {
  padding: 4rem;
}

.p-20 {
  padding: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-40 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.pl-14 {
  padding-left: 3.5rem;
}
  
.pr-16 {
  padding-right: 4rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pr-32 {
  padding-right: 8rem;
}

.pb-36 {
  padding-bottom: 9rem;
}

.pl-36 {
  padding-left: 9rem;
}
.pt-36 {
  padding-top: 9rem;
}
.pt-40 {
  padding-top: 10rem;
}

.pt-52 {
  padding-top: 13rem;
}

.pt-56 {
  padding-top: 14rem;
}

.pb-px {
  padding-bottom: 1px;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.left-0 {
  left: 0px;
}

.right-8 {
  right: 2rem;
}

.left-8 {
  left: 2rem;
}
.bottom-8 {
  bottom: 2rem;
}
.bottom-10 {
  bottom: 2.5rem;
}

.left-14 {
  left: 3.5rem;
}

.bottom-20 {
  bottom: 5rem;
}

.left-20 {
  left: 5rem;
}

.top-24 {
  top: 6rem;
}

.right-24 {
  right: 6rem;
}

.-right-3 {
  right: -0.75rem;
}

.-bottom-3 {
  bottom: -0.75rem;
}

.-top-7 {
  top: -1.75rem;
}

.-top-8 {
  top: -2rem;
}
  
.-top-12 {
  top: -3rem;
}

.-top-16 {
  top: -4rem;
}

.bottom-1\/2 {
  bottom: 50%;
}
.transform_-8 {
  transform: rotate(-8deg);
}
* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.fill-dark-purple {
  fill: #5B1D3D;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-center-i {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-dark-purple {
  --tw-text-opacity: 1;
  color: rgba(91, 29, 61, var(--tw-text-opacity));
}

.text-normal-purple {
  --tw-text-opacity: 1;
  color: rgba(83, 30, 57, var(--tw-text-opacity));
}

.text-electric-red {
  --tw-text-opacity: 1;
  color: rgba(244, 76, 74, var(--tw-text-opacity));
}

.text-baby-pink {
  --tw-text-opacity: 1;
  color: rgba(255, 225, 225, var(--tw-text-opacity));
}

.text-baby-blue {
  --tw-text-opacity: 1;
  color: rgba(208, 244, 255, var(--tw-text-opacity));
}

.text-mint {
  --tw-text-opacity: 1;
  color: rgba(208, 251, 216, var(--tw-text-opacity));
}

.text-opacity-30 {
  --tw-text-opacity: 0.3;
}

.text-opacity-50 {
  --tw-text-opacity: 0.5;
}

.text-opacity-60 {
  --tw-text-opacity: 0.6;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.hover\:no-underline:hover {
  text-decoration: none;
}

.visible {
  visibility: visible;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-20 {
  width: 5rem;
}

.w-28 {
  width: 7rem;
}

.w-32 {
  width: 8rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-96 {
  width: 24rem;
}

.w-180 {
  width: 45rem;
}
  
.w-33 {
  width: 33rem;
}
.w-200 {
  width: 200%;
}

.w-auto {
  width: auto;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-4\/6 {
  width: 66.666667%;
}
  
  
.w-5\/12 {
  width: 43%;
}

.w-7\/12 {
  width: 57%;
}
.w-full {
  width: 100%;
}

.z-20 {
  z-index: 20;
}

.z-22 {
  z-index: 22;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@font-face {
  font-family: "Modern Era";

  font-weight: 500;

  src: url('https://assets-normal.s3-ap-southeast-2.amazonaws.com/ModernEra-Medium.otf') format('opentype');
}

@font-face {
  font-family: "Modern Era";

  font-weight: 700;

  src: url('https://assets-normal.s3-ap-southeast-2.amazonaws.com/ModernEra-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Modern Era";

  font-weight: 800;

  src: url('https://assets-normal.s3-ap-southeast-2.amazonaws.com/ModernEra-ExtraBold.otf') format('opentype');
}

.rounded-border {
  border-radius: 20px;
}

@media only screen and (min-width: 750px) {
  .rounded-border {
    border-radius: 40px;
  }
}

@media (min-width: 640px) {
  .sm\:p-12 {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .md\:space-x-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-x-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-y-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .md\:space-x-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:border-opacity-20 {
    --tw-border-opacity: 0.2;
  }

  .md\:rounded-4xl {
    border-radius: 2rem;
  }

  .md\:border-2 {
    border-width: 2px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:order-3 {
    order: 3;
  }

  .md\:order-last {
    order: 9999;
  }

  .md\:h-14 {
    height: 3.5rem;
  }

  .md\:h-56 {
    height: 14rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .md\:my-24 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .md\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-6 {
    margin-top: 1.5rem;
  }

  .md\:mt-20 {
    margin-top: 5rem;
  }

  .md\:ml-14 {
    margin-left: 3.5rem;
  }

  .md\:mr-20 {
    margin-right: 5rem;
  }

  .md\:-mt-5 {
    margin-top: -1.25rem;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:p-10 {
    padding: 2.5rem;
  }

  .md\:p-14 {
    padding: 3.5rem;
  }

  .md\:p-16 {
    padding: 4rem;
  }

  .md\:p-24 {
    padding: 6rem;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .md\:pr-12 {
    padding-right: 3rem;
  }
  .md\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .md\:pr-16 {
    padding-right: 4rem;
  }

  .md\:pl-16 {
    padding-left: 4rem;
  }
  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .md\:px-72 {
    padding-left: 18rem;
    padding-right: 18rem;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:pt-0i {
    padding-top: 0px !important;
  }

  .md\:pl-0 {
    padding-left: 0px;
  }

  .md\:pt-6 {
    padding-top: 1.5rem;
  }

  .md\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:pb-12 {
    padding-bottom: 3rem;
  }

  .md\:pb-16 {
    padding-bottom: 4rem;
  }

  .md\:pt-24 {
    padding-top: 6rem;
  }

  .md\:pl-24 {
    padding-left: 6rem;
  }

  .md\:pr-32 {
    padding-right: 8rem;
  }

  .md\:pt-36 {
    padding-top: 9rem;
  }

  .md\:pt-60 {
    padding-top: 15rem;
  }

  .md\:pr-60 {
    padding-right: 15rem;
  }

  .md\:pb-64 {
    padding-bottom: 16rem;
  }

  .md\:pr-72 {
    padding-right: 18rem;
  }


  .md\:pt-96 {
    padding-top: 24rem;
  }

  .md\:pt-108 {
    padding-top: 27rem;
  }

  .md\:top-0 {
    top: 0px;
  }

  .md\:bottom-0 {
    bottom: 0px;
  }

  .md\:left-8 {
    left: 2rem;
  }

  .md\:-top-14 {
    top: -3.5rem;
  }

  .md\:-left-24 {
    left: -6rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:w-14 {
    width: 3.5rem;
  }

  .md\:w-56 {
    width: 14rem;
  }

  .md\:w-180 {
    width: 45rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:w-2\/3 {
    width: 66.66666667%;
  }

  .md\:w-1\/6 {
    width: 16.6666667%;
  }
  
  .md\:w-5\/6 {
    width: 83.33333333%;
  }
    
  .md\:w-5\/12 {
    width: 43%;
  }
    
  .md\:w-7\/12 {
    width: 57%;
  } 

  .md\:w-full {
    width: 100%;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-x-52 {
    -moz-column-gap: 13rem;
         column-gap: 13rem;
  }

  .md\:grid-flow-col {
    grid-auto-flow: column;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-3-auto {
    grid-template-columns: repeat(3, auto);
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .md\:row-span-2 {
    grid-row: span 2 / span 2;
  }
}

@media (min-width: 1024px) {
  .lg\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:mr-8 {
    margin-right: 2rem;
  }

  .lg\:ml-20 {
    margin-left: 5rem;
  }

  .lg\:p-10 {
    padding: 2.5rem;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .lg\:gap-y-10 {
    row-gap: 2.5rem;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
    .product-template .bg-clay {
      height:auto !important;
    }
/*     .product-template .rounded-full {
    height:auto !important;
    } */
    .product-template .rounded-full .image-selector{
        background: #f5f0eb;
      padding: 3px;
    }

  input#NewsletterEmail {
    height: 50%;
    align-self: center;
}
  button.btn--newsletter__submit.bss-dark-pink.full-rounded.w-2\/5.text-white.text-subline {
 height: 50%;
    align-self: center;
}
</style>
